<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://img.mobile.kuxun.cn/html5bgs/appimage/2014-09-22/20857b57fe655590856b4f06f3ed94b2.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.kuxun.flight</string>
				<key>bundle-version</key>
				<string>5.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>baidulvyou</string>
				<key>title</key>
				<string>酷讯机票5.2.1（需越狱）</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
